body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

.titulo {
    background-color: #9b9b9b;
    padding: 20px;
    text-align: center;
}

#habilidades {
    font-weight: bold;
}

.tabela {
  width: 45%; 
  border-collapse: collapse; 
  margin: 20px 0;
}

.tabela th,
.tabela td {
  border: 1px solid #ddd; 
  padding: 12px; 
  text-align: left; 
}

.tabela th {
  background-color: #6e726f; 
  color: white; 
}

.tabela tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tabela tr:hover {
  background-color: #ddd;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 20px;
    padding: 20px;
}

#sobre {
    margin-right: 30px;
}

footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}